[tool.poetry]
name = "edx-extensions"
version = "0.1.0"
description = "Collection of plugins for extending and enhancing the functionality of the Open edX platform"
authors = ["MIT Open Learning Engineering"]
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = "^3.8"
sentry-sdk = "^1.3.1"
Django = ">2.0"

[tool.poetry.dev-dependencies]
wemake-python-styleguide = "^0.15.3"
black = "^21.8b0"
pre-commit = "^2.14.1"
isort = "^5.9.3"
pytest = "^6.2.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
