[tool.poetry]
name = "edx-extensions"
version = "0.1.0"
description = "Collection of plugins for extending and enhancing the functionality of the Open edX platform"
authors = ["MIT Open Learning Engineering"]
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = "^3.8"
Django = ">2.0"
edx-django-utils = ">4.0.0"
python-json-logger = "^2.0.2"
sentry-sdk = "^1.3.1"
edx-opaque-keys = "2.3.0"
celery = ">=4.4.7"

[tool.poetry.dev-dependencies]
wemake-python-styleguide = "^0.17.0"
black = "^21.8b0"
pre-commit = "^2.18.0"
isort = "^5.9.3"
pytest = "^7.0.0"
twine = "^4.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ["py38"]

[tool.isort]
profile = "black"
