---
name: CI
on: [push]
jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
        - 3.8
        - 3.11
        edx_branch:
        # - master
        - open-release/quince.master
        - open-release/redwood.master
          # Add more branches as needed

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}

    - name: Set up Pants
      run: |
        # Install Pants
        export PATH=$PATH:/root/.local/bin
        curl --proto '=https' --tlsv1.2 -fsSL https://static.pantsbuild.org/setup/get-pants.sh | bash
        pants package ::

    - name: Install Tutor
      run: |
        if [[ "${{ matrix.edx_branch }}" == "open-release/quince.master" ]]; then
          pip install tutor[full]==17.0.6
        elif [[ "${{ matrix.edx_branch }}" == "master" ]]; then
          git clone --branch=nightly https://github.com/overhangio/tutor.git
          pip install -e "./tutor[full]"
        else
          pip install tutor[full]==18.0.0
        fi

    - name: Set up Tutor with edx-platform
      run: |
        cd ..
        git clone https://github.com/openedx/edx-platform
        cd edx-platform
        git checkout ${{ matrix.edx_branch }}
        tutor mounts add .
        tutor images build openedx-dev
        tutor dev launch --non-interactive
        tutor dev stop

    - name: Run tests on tutor
      run: DEVSTACK_WORKSPACE=$PWD/.. docker-compose -f /home/runner/.local/share/tutor/env/local/docker-compose.yml
        -f /home/runner/.local/share/tutor/env/dev/docker-compose.yml --project-name
        tutor_dev run -v $PWD/../open-edx-plugins:/open-edx-plugins lms /open-edx-plugins/run_devstack_integration_tests.sh

    - name: Upload coverage to CodeCov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.xml
        fail_ci_if_error: false
