---
name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches:
    - '**'
jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
        - 3.11
        edx_branch:
        - master
        - open-release/sumac.master
        - release/teak
          # Add more branches as needed

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up uv
      uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
      with:
        enable-cache: true

    - name: Set up Python ${{ matrix.python_version }}
      run: uv python install ${{ matrix.python_version }}

    - name: Build all packages
      run: uv build --all-packages

    - name: Install tutor
      run: |
        if [[ "${{ matrix.edx_branch }}" == "open-release/sumac.master" ]]; then
          pip install "tutor>=19.0.0,<20.0.0"
        elif [[ "${{ matrix.edx_branch }}" == "master" ]]; then
          git clone --branch=main https://github.com/overhangio/tutor.git
          pip install -e "./tutor"
        else
          pip install "tutor>=20.0.0,<21.0.0"
        fi
    - name: clone edx-platform and add mounts
      run: |
        cd ..
        git clone https://github.com/openedx/edx-platform
        cd edx-platform
        git checkout ${{ matrix.edx_branch }}
        tutor mounts add .

    - name: Build Tutor images
      run: |
        tutor images build openedx-dev

    - name: Launch Tutor
      run: |
        tutor dev launch -I --skip-build
        tutor dev stop

    - name: Run tests on tutor
      run: |
        if [[ "${{ matrix.edx_branch }}" == "master" ]]; then
          DEV="tutor_main_dev"
          DIRECTORY="tutor-main"
        else
          DEV="tutor_dev"
          DIRECTORY="tutor"
        fi
        EDX_WORKSPACE=$PWD/.. docker compose -f /home/runner/.local/share/$DIRECTORY/env/local/docker-compose.yml -f /home/runner/.local/share/$DIRECTORY/env/dev/docker-compose.yml --project-name $DEV run -v $PWD:/openedx/open-edx-plugins lms /openedx/open-edx-plugins/run_edx_integration_tests.sh --mount-dir /openedx/open-edx-plugins
    - name: Upload coverage to CodeCov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
      with:
        files: ./coverage.xml
        fail_ci_if_error: false
